<div class="splash">
  <div class="col-4">
    <%= image_tag 'boom.png', class: 'boom' %>
    <div class="whats row">
      <%= link_to 'What\'s Now', '#' %>
      <%= link_to 'What\'s New', '#' %>
      <%= link_to 'What\'s Next', '#' %>
    </div>
  </div>
  <div class="col-3 offset-2">
    <%= image_tag 'gfit_girl.png', class: 'boom', id: 'girl' %>
  </div>
</div>
<div class="splash", style="height: 400px;">

</div>