<div class="splash">
  <div class="col-4">
    <%= image_tag 'boom.png', class: 'boom' %>
    <div class="whats row">
      <%= link_to 'What\'s Now', '#' %>
      <%= link_to 'What\'s New', '#' %>
      <%= link_to 'What\'s Next', '#' %>
    </div>
  </div>
  <div class="col-12 col-sm-3 offset-sm-3">
    <%= image_tag 'gfit_girl.png', class: 'boom', id: 'girl' %>
  </div>
</div>

<div class="splash_2 text-center">
  <div class="col-10 offset-1">
    <%= image_tag 'xt_girl.png', class: 'grid mt-4' %>
    <%= image_tag 'oldsters.png', class: 'grid mt-4' %>
  </div>
  <div class="col-10 offset-1 mt-4">
    <%= image_tag 'class.png', class: 'grid' %>
    <%= image_tag 'rower.png', class: 'grid' %>
  </div>
</div>