<div class="row">
  <div class="col-7 col-xl-5 d-none d-lg-flex flex-column justify-content-top py-3">
    <%= image_tag "gfit_girl.png", class: "img-fluid mx-auto bg-red rounded shadow px-5 pt-5" %>
  </div>
  <div class="row col d-flex justify-content-center mt-3 mx-auto text-center align-items-center">
    <div class="col-12 pr-0 pl-0">
      <%= link_to page_path('ourstory') do %>
        <figure class="mr-xl-1">
          <%= image_tag 'xt_girl.png', class: 'grid rounded' %>
          <div class="overlay">
            Our Story
          </div>
          <figcaption>
            <div class="caption ml-auto mr-auto">
              the <br/> Generation Fitness <br /><b>difference</b><hr class="hr_c" />
            </div>
          </figcaption>
        </figure>
      <% end %>
      <%= link_to page_path('weare') do %>
        <figure class="ml-xl-2">
          <%= image_tag 'oldsters.png', class: 'grid rounded' %>
          <div class="overlay text-left mb-2" style="line-height:30px;">
            #WeAre
            <br />&nbsp; GenerationFitness
          </div>
          <figcaption>
            <div class="caption ml-auto mr-auto">
              Join the<br/><b>fitness generation</b><hr class="hr_c" />
            </div>
          </figcaption>
        </figure>
      <% end %>
    </div>
    <div class="col-12 mt-0 pr-0 pl-0">
      <%= link_to page_path('classes') do %>
        <figure class="mr-xl-1">
          <%= image_tag 'class.png', class: 'grid rounded' %>
          <div class="overlay">
            Group Classes
          </div>
          <figcaption>
            <div class="caption ml-auto mr-auto">
              Generation<br/> <b>BetterTogether</b> <hr class="hr_c" />
            </div>
          </figcaption>
        </figure>
      <% end %>
      <%= link_to page_path('training') do %>
        <figure class="ml-xl-2">
          <%= image_tag 'rower.png', class: 'grid rounded' %>
          <div class="overlay">
            Personal Training
          </div>
          <figcaption>
            <div class="caption ml-auto mr-auto">
              Generation<br/> <b>Results</b> <hr class="hr_c" />
            </div>
          </figcaption>
        </figure>
      <% end %>
    </div>
  </div>
</div>


<div class="clear"></div>