<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_path do %>
    <%= image_tag 'logo_white.png', class: 'logo_nav' %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to 'home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'our story', page_path('ourstory'), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'membership offers', page_path('offers'), class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fitness Experience
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Personal Training', '#', class: 'dropdown-item nav-link' %>
          <%= link_to 'Group Classes', page_path('classes'), class: 'dropdown-item nav-link' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'contact us', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>