<!DOCTYPE html>
<html>
  <head>
    <title>Generation Fitness - Fort Myers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('smallG.png') %>
  </head>

  <body>
    <%= render partial: '/layouts/navbar' %>
    <% if notice.present? %>
      <p class="alert alert-info mb-0"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger mb-0"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render partial: '/layouts/footer' %>
  </body>
</html>
